body{
	background-color: #120c20;
	-webkit-background-size: cover;
	background-size: cover;
	font-size: 16px;

	position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
.pink-text.darken1{
	color:#d60d5f!important;
}
section h2{
	font-family: 'mekar';
	line-height: 70px;
}
section h2 .text1{
	font-size: 80px;
}
section h2 .text2{
	font-size: 140px;
}
section h3{
	font-size: 20px;
	color: #d60d5f;
	font-family: 'allerregular';
	font-style: italic;
}
section *{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.backstretch img{
	top: 0!important;
}

.img-responsive{
	max-width: 100%;
	height: auto;
}
#logo-circuit{
	margin: 70px auto 140px auto;
	width: 50%;
}
.btn-circuit{
	font-size: 1em;
	font-family: 'allerbold';
	font-style: italic;
	padding: 0.7em 2.7em;
	border-radius: 2em;
	border: 1px solid #b10f58;
	color:#b10f58;
	display: inline-block;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.btn-circuit:hover{
	background-color: rgba(177,14,87,0.1);
}
.btn-circuit span{
	margin: 0 17px;
	display: inline-block;
	vertical-align: middle;
}
.icon-circuit{
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	width: 81px;
	height: 31px;
	display: inline-block;
	vertical-align: middle;
	text-indent: -9999999px;
}

.icon-circuit-fb{
	background-position: -30px -54px
}
.icon-circuit-tw{
	background-position: -30px -97px;
}
.icon-circuit-aws{
	background-position: -30px -149px;
}

footer{
	width: 100%;
	position: absolute;
	bottom: 0;

	position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}