
@font-face {
    font-family: 'allerbold';
    src: url('../fonts/aller/aller_bd-webfont-webfont.eot');
    src: url('../fonts/aller/aller_bd-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller/aller_bd-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aller/aller_bd-webfont-webfont.woff') format('woff'),
         url('../fonts/aller/aller_bd-webfont-webfont.ttf') format('truetype'),
         url('../fonts/aller/aller_bd-webfont-webfont.svg#allerbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'allerregular';
    src: url('../fonts/aller/aller_rg-webfont-webfont.eot');
    src: url('../fonts/aller/aller_rg-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller/aller_rg-webfont-webfont.woff2') format('woff2'),
         url('../fonts/aller/aller_rg-webfont-webfont.woff') format('woff'),
         url('../fonts/aller/aller_rg-webfont-webfont.ttf') format('truetype'),
         url('../fonts/aller/aller_rg-webfont-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mekar';
    src: url('../fonts/mekar/mekar.eot');
    src: url('../fonts/mekar/mekar.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mekar/mekar.woff2') format('woff2'),
         url('../fonts/mekar/mekar.woff') format('woff'),
         url('../fonts/mekar/mekar.ttf') format('truetype'),
         url('../fonts/mekar/mekar.svg#mekar_script_freeregular') format('svg');
    font-weight: normal;
    font-style: normal;

}