/*Queries*/
@media only screen and (max-width: 320px) {
    /*body {background-color: skyblue;}
    body::before {content: '#ff0000';}*/
    
    section h2{
        font-family: 'mekar';
        line-height: 50px;
    }
    section h2 .text1{
        font-size: 40px;
    }
    section h2 .text2{
        font-size: 90px;
    }

    #logo-circuit{
        margin: 0px auto 0px auto; 
    }
}

@media only screen and (min-width: 360px) {
    /*body {background-color: green;}
    body::before {content: '#ff0000';}*/

    #logo-circuit{
        margin: 0px auto 30px auto; 
    }
    section h2{
        font-family: 'mekar';
        line-height: 60px;
    }
    section h2 .text1{
        font-size: 50px;
    }
    section h2 .text2{
        font-size: 100px;
    }
}

@media only screen and (min-width: 420px) {
    /*body {background-color: yellow;}
    body::before {    content: '#993333';}*/

    #logo-circuit{
        margin: 10px auto 40px auto; 
    }
    section h2 .text1{
        font-size: 50px;
    }
    section h2 .text2{
        font-size: 100px;
    }
}
@media only screen and (min-width: 480px) {
    /*body {background-color: red;}
    body::before {content: '#333333';}*/

    #logo-circuit{
        margin: 10px auto 50px auto; 
    }
    section h2 .text1{
        font-size: 70px;
    }
    section h2 .text2{
        font-size: 120px;
    }
}

@media only screen and (min-width: 600px) {
    /*body {background-color: orange;}
    body::before {content: '#666633';}*/
    #logo-circuit{
        margin: 10px auto 50px auto; 
    }
}

@media only screen and (min-width: 690px) {
    /*body {background-color: purple;}
    body::before {content: '#009900';}*/
    #logo-circuit{
        margin: 10px auto 80px auto; 
    }
}

@media only screen and (min-width: 780px) {
    /*body {background-color: blue;}
    body::before {content: '#0033ff';}*/
    #logo-circuit{
        margin: 70px auto 140px auto; 
    }
}

@media only screen and (min-width: 810px) {
    /*body {background-color: maroon;}
    body::before {content: '#003399';}*/
    #logo-circuit{
        margin: 70px auto 140px auto; 
    }
}

@media only screen and (min-width: 900px) {
    /*body {background-color: skyblue}
    body::before{content:'#990099';}*/
    #logo-circuit{
        margin: 70px auto 140px auto; 
    }
}

@media only screen and (min-width: 1200px) {
    /*body {background-color: peru}
    body::before{content:'#330033';}*/
    #logo-circuit{
        margin: 70px auto 140px auto; 
    }
}
